/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set background color and font styles */
body {
  background: url(main.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Style the navigation bar */
header nav {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

header nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

header .logo h1 {
  font-size: 28px;
  color: #ffffff;
}

header nav .nav-links {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

header nav .nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

header nav .nav-links a:hover {
  color: rgb(0, 170, 255);
}

header nav .nav-links button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

header nav .nav-links button:hover {
  background-color: #0069d9;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px; /* adjust the width as needed */
  height: 300px; /* adjust the height as needed */
  border: 10px solid rgb(255, 0, 0);
  border-radius: 50%;
  animation: rgb-border 1.5s infinite;
  padding-top: 17px;
  margin: auto;
  transform-origin: center;
}

.profile-pic {
  width: 100%;
  height: 108%;
  object-fit: none;
  border-radius: 200px;
  filter: blur(0px) drop-shadow(0px 0px 10px rgba(0, 0, 0, 3px));
  animation: rgb-border 2s infinite;
  box-shadow: 0 0 30px rgba(255, 0, 0, 1);
}

@keyframes rgb-border {
  0% {
    border-color: rgb(255, 0, 0);
    box-shadow: 0 0 30px rgba(255, 0, 0, 1);
  }
  12.5% {
    border-color: rgb(255, 255, 0);
    box-shadow: 0 0 30px rgba(255, 255, 0, 1);
  }
  25% {
    border-color: rgb(0, 255, 0);
    box-shadow: 0 0 30px rgba(0, 255, 0, 1);
  }
  37.5% {
    border-color: rgb(0, 255, 255);
    box-shadow: 0 0 30px rgba(0, 255, 255, 1);
  }
  50% {
    border-color: rgb(0, 0, 255);
    box-shadow: 0 0 30px rgba(0, 0, 255, 1);
  }
  62.5% {
    border-color: rgb(255, 0, 255);
    box-shadow: 0 0 30px rgba(255, 0, 255, 1);
  }
  75% {
    border-color: rgb(255, 0, 0);
    box-shadow: 0 0 30px rgba(255, 0, 0, 1);
  }
  87.5% {
    border-color: rgb(255, 255, 0);
    box-shadow: 0 0 30px rgba(255, 255, 0, 1);
  }
  100% {
    border-color: rgb(0, 255, 0);
    box-shadow: 0 0 30px rgba(0, 255, 0, 1);
  }
}

/* Style the main content */
main {
  margin-top: 70px;
}

section {
  align-items: center;
  background-color: rgba(55, 53, 53, 0.5);
  width: 80%;
  padding: 40px;
  margin: 50px auto;
  border-radius: 10px;
  text-align: center;
}

section h1,
h2 {
  display: inline-block;
  color: #b5d9ff;
  margin: 0 auto;
  font-family: "Tilt Prism", cursive;
  font-size: 30px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s, cursor 1s step-end infinite alternate;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}

section p {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: "Chivo Mono", monospace;
}

section p a {
  text-decoration: none;
  color: purple;
  animation: glowing 2s ease-in-out infinite;
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #fff;
  }
  50% {
    box-shadow: 0 0 20px #f6d756;
  }
  100% {
    box-shadow: 0 0 5px #fff;
  }
}

main .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

main h1 a {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

main img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

main .dwn {
  text-align: center;
  margin-bottom: 20px;
}

main .dwn button {
  background-color: #05458a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
#languages {
  /* background-color: #f9f9f9; */
  color: white;
  padding: 30px 0;
}

.languages-container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 30px auto;
}

.language {
  display: flex;
  align-items: center;
  margin: 0 15px;
  font-size: 18px;
}

.language-icon {
  margin-right: 10px;
}

.language-name {
  font-weight: bold;
}

#skills-container {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  margin: 0 10px;
}

.skill-item i {
  font-size: 30px;
  margin-bottom: 5px;
}

.skill-item span {
  font-size: 14px;
  text-align: center;
}

#sociall {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

#sociall a {
  color: #fff;
  margin: 0 30px;
}

#social a:hover {
  color: #ccc;
}

#sociall .fab {
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}
#call {
  color: rgb(24, 226, 17);
  display: block;
  margin-top: 50px;
  align-items: center;
}
#reach-container {
  margin: 30px;
}
#reach-container a {
  text-decoration: none;
}
#box {
  width: 100px;
  height: 100px;
  background-color: blue;
  filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
  color: #ffffff;
  position: sticky;
  width: 100%;
  text-align: center;
  bottom: 0;
  margin-bottom: 0px;
}

/* Add media query for smaller screens */
@media only screen and (max-width: 600px) {
  header nav .container {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav .nav-links {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  header nav .nav-links a,
  header nav .nav-links button {
    display: block;
    margin: 10px 0;
  }
}
